body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    text-align: center;
    background: linear-gradient(135deg, #5d5a5b, rgb(254, 123, 149));
    color: #333;
}

#about {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

#about:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}